body {
  background: linear-gradient(to bottom, black, rgb(37, 37, 37));
  background-repeat:no-repeat ;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1680px;
  margin: 0 auto;
}

.menuselection h1 {
  display: block;
  background: rgb(255, 187, 0);
  text-align: center;
  padding:5px;
  border:2px solid rgb(255, 94, 0);
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  color:black;
  text-align: center;
}

.menuselection h2 {
  display: block;
  background: rgb(0, 0, 0);
  text-align: center;
  padding:5px;
  border:2px solid rgb(49, 49, 49);
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  color:white;
  text-align: center;
}

.transparent-border {
  border-color: transparent !important;
}

